<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiKhPhzlKhYMiHYgTFyv1S-u11sA3ykmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>246495781541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blackMamba</string>
	<key>PROJECT_ID</key>
	<string>black-mamba-d2e2d</string>
	<key>STORAGE_BUCKET</key>
	<string>black-mamba-d2e2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246495781541:ios:42101d45bf3cf94a75a34c</string>
</dict>
</plist>